.conteiner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;
    align-items: center;
    background: #372D23;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
