.conteiner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;
    align-items: center;
    background: #372D23;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.logo {
    width: 72px;
    height: 72px;
}

.header_ul {
    display: flex;
    width: 501px;
    height: 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.active {
    color: #ED6C30;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.no_active {
    color: #B89278;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.header_icon {
    font-size: 40px;
    color: #FCC21B;
}

/* section1 */

.section1 {
    width: 100%;
    height: 640px;
    position: relative;
    top: 136px;

}

.cover {
    width: 100%;
    height: 100%;
}

.section1_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    color: #FFF;
    text-shadow: 0px 6px 4px #372D23;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black, 0 0 15px black, 0 0 15px black, 0 0 15px black;
}
.button1 {
    display: flex;
    height: 52px;
    padding: 12px 38px;
    justify-content: center;
    align-items: center;
    border: 3px solid #FCC21B;
    box-shadow: 0px 4px 4px 0px #372D23;
    background-color: rgb(0, 0, 0, 0);
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}


/* section2 */
.section2 {
    display: flex;
    width: calc(1280 / 1440 * 100%);
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    top: 216px;
    margin: auto;
}

.section2_article {
    position: relative;
}

.article_img {
    width: 100%;
    height: 100%;
}

.article_div {
    display: flex;
    width: 100%;
    height: 88px;
    padding: 28px 69px;
    justify-content: center;
    align-items: center;
    background: rgba(55, 45, 35, 0.80);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 72.5%;
    column-gap: 16px;
}

.article_i {
    font-size: 32px;
    color: #ED6C30;

}

h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

/* article */
.main_article {
    display: flex;
    width: calc(1080 / 1440 * 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
    top: 296px;
    margin: auto;
}

h2 {
    color: #372D23;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.article_p {
    color: #855C52;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.button2 {
    display: flex;
    height: 52px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    background: #ED6C30;
    border: none;
}

/* footer */
footer {
    display: inline-flex;
    width: 100%;
    padding: 32px 300px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 376px;
    background-color: #372D23;
    ;
}

h5 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 8px;
}

.footer_a {
    color: #B89278;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer_div {
    display: flex;
    gap: 16px;
}

.footer_icones_a {
    color: #FCC21B;
    font-size: 24px;
}